Source: synapps
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), epics-dev (>= 3.14.10-5), epics-dev (<< 3.14.11), epics-rtems-mvme2100, epics-rtems-mvme3100, epics-rtems-mvme5500, adl2edl
Standards-Version: 3.7.3
Homepage: http://www.aps.anl.gov/bcda/synApps/index.php

Package: epics-synapps-doc
Architecture: all
Depends: epics-synapps-dev (= ${source:Version})
Description: Documentation for synapps
 It contains beamline-control and data-acquisition components for
 an EPICS based control system. synApps is distributed under the EPICS Open license.

Package: epics-synapps-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, epics-dev (>= 3.14.10-5), epics-dev (<< 3.14.11)
Suggests: epics-synapps-doc (= ${binary:Version})
Description: A collection of tools to create beamline control systems.
 synApps is a collection of software tools that help to create a control system for beamlines.
 It contains beamline-control and data-acquisition components for an EPICS based control system.
 synApps is distributed under the EPICS Open license. 
 .
 This package contains support for the host system

Package: edm-synapps
Architecture: all
Depends: edm
Description: All EDM display panels from synapps
 synApps is a collection of software tools that help to create a control system for beamlines.
 It contains beamline-control and data-acquisition components for an EPICS based control system.
 synApps is distributed under the EPICS Open license. 
 .
 This package contains EDM display panels.  These are converted from the MEDM panels
 which are distributed with synapps.

Package: epics-synapps-mvme2100
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, epics-dev (>= 3.14.10-5), epics-dev (<< 3.14.11), epics-rtems-mvme2100 (>= 3.14.10-5), epics-rtems-mvme2100 (<< 3.14.11), epics-synapps-dev (= ${binary:Version})
Description: A collection of tools to create beamline control systems.
 synApps is a collection of software tools that help to create a control system for beamlines.
 It contains beamline-control and data-acquisition components for an EPICS based control system.
 synApps is distributed under the EPICS Open license. 
 .
 This package contains support for the MVME2100 PowerPC based VME SBC.

Package: epics-synapps-mvme3100
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, epics-dev (>= 3.14.10-5), epics-dev (<< 3.14.11), epics-rtems-mvme3100 (>= 3.14.10-5), epics-rtems-mvme3100 (<< 3.14.11), epics-synapps-dev (= ${binary:Version})
Description: A collection of tools to create beamline control systems.
 synApps is a collection of software tools that help to create a control system for beamlines.
 It contains beamline-control and data-acquisition components for an EPICS based control system.
 synApps is distributed under the EPICS Open license. 
 .
 This package contains support for the MVME3100 PowerPC based VME SBC.

Package: epics-synapps-mvme5500
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, epics-dev (>= 3.14.10-5), epics-dev (<< 3.14.11), epics-rtems-mvme5500 (>= 3.14.10-5), epics-rtems-mvme5500 (<< 3.14.11), epics-synapps-dev (= ${binary:Version})
Description: A collection of tools to create beamline control systems.
 synApps is a collection of software tools that help to create a control system for beamlines.
 It contains beamline-control and data-acquisition components for an EPICS based control system.
 synApps is distributed under the EPICS Open license. 
 .
 This package contains support for the MVME5500 PowerPC based VME SBC.
