file opticsApp/Db/fb_epid.db
  {

    pattern
    {P,          IN,         OUT,        MODE, CALC, PERMIT1, PERMIT2, PERMIT3, PERMIT4}

    {sfo:epid:1, sfo:float1, sfo:float2, PID,   A,   "sfo:epid:1:on.VAL",      "",      "",      ""}

  }

