record(ai,"$(P)$(R)")
{
        field(SCAN,"$(SCAN)")
        field(DTYP,"asynInt32Average")
        field(INP,"@asyn($(PORT) $(S))DATA")
        field(LINR,"LINEAR")
        field(EGUF,"$(EGUF)")
        field(EGUL,"$(EGUL)")
        field(HOPR,"$(HOPR)")
        field(LOPR,"$(LOPR)")
        field(PREC,"$(PREC)")
}

record(longout,"$(P)$(R)Gain")
{
        field(PINI,"YES")
        field(VAL,"$(GAIN)")
        field(DTYP,"asynInt32")
        field(OUT,"@asyn($(PORT) $(S))GAIN")
}
